/* Set the width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap') */

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Set the color and border radius of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Set the color and border radius of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
html, body {
  overflow-x: hidden;
}


#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    background-color: #dfdfdf;
    width: 100vw;
    overflow-x: hidden;
  }
  
  /* .mainSection{
  padding-bottom: 10rem;  
  padding-top: 5rem;
  } */
  
  .card {
    /* padding: 2rem; */
    display: inline-flex;
    text-align: center;

    width: 15rem;
    min-height: 30rem;
    margin: .8rem;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding-bottom: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow:  12px 12px 42px #b1b1b1,
    -12px -12px 42px #ffffff;
    
  }

  
  .card:hover {
    transform: scale(1.03);
    transition: transform .3s;
  }
  .card:hover #invButton{
    opacity: 1;
  }
  
  .card img {
    /* height: 9rem; */
    display: inline-flex;
    position: relative;
    width: 14.8rem;
    max-height: 14rem;
    border-top: black solid 2px;
    top: -10px;
    /* border-radius: .5rem; */
  }
  @media (max-width: 767px) {
    .card {
      width: 22rem;
      height: 48rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .card img {
      width: 21.75rem;
      max-height: 25rem;
    }
  }

  .container button{
    margin-top: 1rem;
  }



  #buttonContainer{
    padding: 2rem;
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    border-radius: .5rem;
    background: #ffffff;
    box-shadow:  19px 19px 53px #a1a1a1,
    -19px -19px 53px #ffffff;
  }

  #cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
   

  .barcode-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    width: 65%;
  }
  
  
  
  .categoryBarNumberOfItems {
    position: absolute;
    top: 0;
    right: 4rem;
    margin: 10px;
  }
  
  .accordion-button {
  width: 100vw;;
  }

  /* .categoryDiv{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  } */
  
  /* .cards-list {
    display: inline-flex;
    width: 20rem;
    margin: 1rem;
  } */

  #invButton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
 
    /* transform: translate(-50%, -50%); */
    /* background-color: rgb(206, 41, 41); */
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

  }


#plusAndMinusButtonContainer button{
  border-radius: 2rem;
  /* width: 6pt; */
  height: 40px;
}

.btn-primary {
  border: solid 1px #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
}

.rowOfOptions{
  display: inline-flex;
  flex-wrap: wrap
}

.divBar{
  background-color: #000000;
  position: relative;
  height: .5rem;
  width: 100%;
}

.divBar-thin{
  background-color: #979797;
  position: relative;
  height: .05rem;
  width: 100%;
  margin-bottom: 0.7rem;
}


.inStockLabel{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

#quantityDiv{
  transform: translateY(2rem);
}

#stats-1{
  margin-left: 1rem;
  margin-top: 1rem;
}

#sortSelector{
  width: 6rem;
  height: 2rem;
  display: inline-flex;
  flex-direction: row;   
  ;
}


#barcodeTd{

  height: 2px;
}

.priceOptions{
  display: inline-flex;
  align-items: baseline;
  justify-content: baseline
}

.dashboardButtonRow2 {
  margin-top: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.sortByMenu{
  display: inline-flex;
  align-items: flex-end;
  gap: 1rem;
}

.categoryDiv { 
text-align: left;
}

.categoryDiv h1 {
  margin-top: 3rem;
}

.outOfStockLabel{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin-top: 1rem;
  padding: 2px;
  padding-top: 6px;
  /* border-radius: 0.5rem; */
  /* border: #000000 solid 2px; */
  background-color: rgb(177, 10, 10);
  /* transform: translateY(-2rem); */
}
